<!DOCTYPE html>
<html>

<head>
  <title>SHOWROOM API</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>SHORWOOM API</h1>
  <p>APIをスクレイピングしてデータを返却</p>
</body>

</html>